<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Index</title>
</head>
<body>
    <h1>The Mecha of Keyboards</h1>
    <ul>
        <% keyboards.forEach(keyboard=> { %>
            <a href="/keyboards/<%=keyboard._id; %>"><%=keyboard.name %> | $<%=keyboard.averagePrice %></a><br>
        <% }) %>
    </ul>
    <a href="/keyboards/new">Add a new keyboard</a>

    
</body>
</html>