<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Information</title>
</head>
<body>
    <h1>The Paths Taken Towards Mecha</h1><br><br>
    
    <nav>
        <a class="link" id="back" href="/keyboards">Click here to go back</a>
    </nav>

    <h1 class="soon">Coming Soon...</h1>

    
    <!-- <h2>Keyboard Size</h2>
    <p>

    </p>
    
    <h2>Connectivity</h2>
    <p>

    </p>
    
    <h2>Switches</h2>
    <p>

    </p>
    
    <h2>Switch Facing</h2>
    <p>

    </p>
    
    <h2>Hot-Swappable</h2>
    <p>

    </p>
    
    <h2>Knob</h2>
    <p>

    </p>
    
    <h2>Body Material(s)</h2>
    <p>

    </p>
    
    <h2>Plate Option(s)</h2>
    <p>

    </p>
    
    <h2>Backlight/RGB</h2>
    <p>

    </p> -->
</body>
</html>