<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>New</title>
</head>
<body>

  <h1>New Keyboard Page</h1>

    <nav>
      <a class="link" href="/keyboards">Back to All Keyboards (Unsorted)</a>
    </nav><br>

        <form class="new" action="/keyboards" method="POST">
            Name: <input type="text" name="name" />*<br>
            
            Keyboard Size: <select name="keyboardSize" onchange="toggleCustomSize()">
                <option value="">Select a size</option>
                <option value="60% | Mini">60% | Mini</option>
                <option value="65% | SF">65% | SF</option>
                <option value="80% | TKL | Tenkeyless">80% | TKL | Tenkeyless</option>
                <option value="100% | Full Size">100% | Full Size</option>
                <option value="Other">Other (specify below)</option>
            </select>*<br>
            <div id="customSizeField" style="display:none;">
                Other Size: <input type="text" name="otherSize" />
            </div>
            
            Connectivity: <select name="connectivity" onchange="toggleConnectionType()">
                <option value="">Select an option</option>
                <option value="Wired(Detachable)">Wired(Detachable)</option>
                <option value="Wired(Non-Detachable)">Wired(Non-Detachable)</option>
                <option value="Wireless">Wireless</option>
            </select>*<br>
            <div id="detachField" style="display:none;">
                Connection Type(Output): <select name="detach">
                    <option value="">Select an option</option>
                    <option value="USB C">USB C</option>
                    <option value="USB A">USB A</option>
                    <option value="Mini USB">Mini USB</option>
                  </select></div>
            <div id="nonDetachField" style="display:none;">
                Connection Type(Input): <select name="nonDetach">
                  <option value="">Select an option</option>  
                  <option value="USB A">USB A</option>
                  <option value="USB C">USB C</option>
                </select></div>
          
            Switches: <input type="text" name="switches" /><br>
            
            Switch Facing: <select name="switchFacing">
                <option value="">Select a facing</option>
                <option value="North">North</option>
                <option value="South">South</option>
            </select>*<br>

            <!-- Hot-Swappable? <input type="checkbox" name="hotswap" />*<br> -->
            Hot-Swappable? <select name="hotswap">
                <option value="">Yes or No?</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>*<br>

            <!-- Knob? <input type="checkbox" name="knob" />*<br> -->
            Knob? <select name="knob">
              <option value="">Yes or No?</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>*<br>

            Body Color(s): <input type="text" name="color" >*<br>

            Body Material(s): <input type="text" name="bodyMaterials" placeholder="Ex: Aluminum/ABS Plastic" />*<br>
            
            Plate Options: <select type="text" name="plateOptions">
                <option value="">Select an option</option>
                <option value="Polycarbonate">Polycarbonate</option>
                <option value="Aluminum">Aluminum</option>
                <option value="Brass">Brass</option>
                <option value="Stainless Steel">Stainless Steel</option>
            </select><br>

            <!-- Backlit/RGB? <input type="checkbox" name="hotswap" />*<br> -->
            Backlit/RGB? <select name="rgb">
              <option value="">Yes or No?</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>*<br>

            Price: $<input type="text" name="price" placeholder="USD" />*<br>
            Image URL: <input type="text" name="img" /><br>
            * required fields<br><br>
            <input class="submit" type="submit" name="" value="Send this Keyboard to the Mecha"/>
        </form>
        
        
        
        <script>
            function toggleCustomSize() {
              var customSizeField = document.getElementById("customSizeField");
              var keyboardSize = document.getElementsByName("keyboardSize")[0].value;
              if (keyboardSize == "Other") {
                customSizeField.style.display = "block";
              } else {
                customSizeField.style.display = "none";
              }
            }
            
            function toggleConnectionType() {
              var detachField = document.getElementById("detachField");
              var nonDetachField = document.getElementById("nonDetachField");
              var connectivity = document.getElementsByName("connectivity")[0].value;

              if (connectivity == "Wired(Detachable)") {
                detachField.style.display = "block";
                nonDetachField.style.display = "none";
              } else if (connectivity == "Wired(Non-Detachable)") {
                detachField.style.display = "none";
                nonDetachField.style.display = "block";
              } else {
                detachField.style.display = "none";
                nonDetachField.style.display = "none";
              }
            }
        </script>
</body>
</html>