@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
    font-family: "Secular One", sans-serif;
}

body {
    background-color: rgb(50, 50, 50);
    color: rgb(200, 200, 200);
}
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    place-items: center;
}

h1 {
    font-size: 300%;
    -webkit-text-stroke: 1px rgb(200, 200, 200);
    color: black;
    text-align: center;
  }  

img {
    max-width: 400px;
}

a {
    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    width: fit-content;
  }

a.link {
    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
    padding: 5px 10px;
    margin: 2px auto;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    width: fit-content;
  }

a:visited {
    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
    padding: 5px 5px;
    margin: 2px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

input {
    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
    margin: 5px;
    display: inline-block;
}

select {
    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
    margin: 5px;
    display: inline-block;
}

.delete {
    color: rgb(200, 200, 200);
    background-color: rgb(100, 0, 0);
    padding: 5px 5px;
    margin: 2px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
